/* #container{
    background-color: rgb(164, 218, 240);
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    border-radius: 40px;
    box-shadow:12px 12px 0px 0px rgba(165, 162, 162, 0.945);
}
#content{
    font-size:29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 29%;
} */
#box1{
    background-color: rgb(141, 141, 245);
    height: 86%;
    width: 65%;
    margin-top: 4%;
    margin-left: 17%;
    border-radius: 40px;
    box-shadow: 3px 3px 13px black;
}
#box2{
    width: 60%;
    height: 50%;
    margin-left: 5%;    
}
h2{
    font-size: 37px;
    padding-left: 34%;
    padding-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
}
#a{
    font-size: 23px;
    font-family:monospace;
    color: rgb(0, 0, 0);
}
textarea{
    height: 150px;
    width: 150%;
    border-radius: 3px;
    outline: none;
    border: 1px solid white;
}
#text{
    height: 30px;
    width: 250px;
    border-radius: 3px;
    outline: none;
    border: 1px solid white;    
}
#sub{
    height: 40px;
    width: 90px;
    margin-left: 65%;
    font-weight: bolder;
    font-size: 16.5px;
    border: none;
    border-radius: 15px;
    color: rgb(3, 3, 117);
}