*{
    margin:0;
    padding: 0  ;
}
body{
       
}
#menu{
    background:linear-gradient(130deg,rgb(110, 34, 20),rgb(128, 55, 55));   
    width: 100%;
    height: 70px;
    font-size: 33px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
box-shadow: 0px 0px 2px rgb(68, 66, 66);
letter-spacing: 2px;
word-spacing: 10px;

}
#title{
    padding-top: 10px;
}
table th{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-family: monospace;
    padding-top: 30px;
    background-color: rgb(58, 53, 53);
    color: white;
    border: 1px solid black;

}
table{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    border: none;
}
table td{
    padding-top: 20px;
}
a{
    text-decoration: none;
    
    }
    font{
        position: relative;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 19px;
        color: rgb(255, 255, 255);
        border-radius: 100px;   
        background-color: black;
        font-weight: bold;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom:10px;
        box-shadow: 2px 4px 10px gray;
    }
    font:hover{
        background-color: rgb(243, 187, 124);
        font-weight: lighter;
        color: black;
    }